.container {
  padding: 0.3em;
  border: none;
  text-decoration: none;
}

.container.grid {
  width: 20%;
  height: 100%;
}

.container.list {
  width: 100%;
  padding-right: 5em;
}

.video {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid lightgray; */
  /* 여기를 꺼야함 */
  /* box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53); */
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}

.li {
  display: block;
  width: 50%;
}

.thumbnail {
  width: 100%;
  height: 100%;
}

.metadata {
  display: flex;
}

.title {
  margin: 0;
  font-size: 1rem;
  color: white;
  font-weight: 600;
}
.channel {
  margin: 0;
  font-size: 0.8rem;
  color: #a7aaa0;
}
.static {
  margin: 0;
  font-size: 0.7rem;
  color: #a7aaa0;
}
